<div class="container px-5 my-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Productos destacados.</h2></div>
        <div class="col-lg-8">
            <div class="row gx-5 row-cols-1 row-cols-md-2">
                <div class="col mb-5 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h5">Bombas de Agua</h2>
                    <p class="mb-0">Contamos con productos nuevos y ademas se pueden reparar los que ya tienes.</p>
                </div>
                <div class="col mb-5 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h5">Amortiguadores</h2>
                    <p class="mb-0">Tenemos una gran variedad de marcas, las mas competitivas del mercado.</p>
                </div>
                <div class="col mb-5 mb-md-0 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h5">Tren Delantero</h2>
                    <p class="mb-0">Contamos con tricetas, crucetas, parrillas, rodamientos a precios accesibles.</p>
                </div>
                <div class="col h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h5">Embragues</h2>
                    <p class="mb-0">Placas y discos de la mejor calidad.</p>
                </div>
            </div>
        </div>
    </div>
</div>